<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="assets/images/PeraPhone-logo.jpg" alt="PeraPhone-logo" class="logo" >
    </a>
  </div>
</nav>
<div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Carrello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrati</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card" style="width: 18rem;">
  <img src="https://p.turbosquid.com/ts-thumb/6l/Mp4JXj/kx/untitled/jpg/1725201208/600x600/fit_q87/482a73973eec4afc4d93e819fffbf27953666caa/untitled.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>